 @import "../color_schemes/cird.scss";

.side-bar {
  background-color: $background-color;
}

/* Smartphones (portrait and landscape) */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .side-bar {
    width: 100%;
  }
}

/* Desktops and laptops */
@media only screen 
and (min-width : 66.5rem) {
  .side-bar {
    width: 0%;
  }
}

@media (min-width: 66.5rem) {
  .main {
    margin-left: 15%;
    max-width: 100%;
  }
}



.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
   background-image: linear-gradient(90deg, $purple-cird, $purple-cird 10%, $base-purple-cird);
}

.site-title:hover {
  background-image: linear-gradient(90deg, $purple-cird, $purple-cird 10%, $base-purple-cird, );
}

.nav-list .nav-list-item .nav-list-expander:hover {
  background-color: $background-color;
  background-image: none;
}

.btn-blue-cird {
  color: $white; 
  background-color: $purple-cird;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.12);
}

.breadcrumb-nav-list-item {
  color: $background-color;
}

.nav-list-link {
  color: $white;
}

.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
  color: $white;
}

.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link {
  color: $white;
}

.nav-list .nav-list-item .nav-list-expander {
  color: $white;
}

.site-footer {
  color: $white;
}

.site-footer > a {
  color: $white;
}

body {
  font-family: 'Open Sans';
}

#menu-button > svg {
  color: $white;
}

.site-button:hover {
  background-image: none;
}