$pink-cird: #F41E93 !default;
$purple-cird: #4933A3 !default;
$light-blue-cird: #1ABEE5 !default;
$yellow-cird: #F9D10D !default;
$orange-cird: #F98E0D !default;
$green-cird: #61C626 !default;

// gradientes
$base-purple-cird: #AC95FF !default;

$background-color: $purple-cird;

$link-color: $purple-cird; //funciona

@font-face {
  font-family: 'Open Sans';
  src: url("../../assets/OpenSans-VariableFont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}