$blue-cird: #084892 !default;
$yellow-cird: #DEAB38 !default;

$link-color: $blue-cird; //funciona
$body-background-color: $green-000 !default; //no funciona
$sidebar-color: $yellow-000 !default; //no funciona